{{- $pages := .pages -}}
{{- $order := .order | default "desc" -}}
{{- $groupByYear := .groupByYear | default false -}}

{{- if eq $order "asc" -}}
  {{- $pages = $pages.ByDate -}}
{{- else -}}
  {{- $pages = $pages.ByDate.Reverse -}}
{{- end -}}

{{- if $groupByYear -}}
  {{- $groupOrder := cond (eq $order "asc") "asc" "desc" -}}
  {{- range $pages.GroupByDate "2006" $groupOrder -}}
    <h2 class="mt-12 text-2xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300">
      {{ .Key }}
    </h2>
    <hr class="w-36 border-dotted border-neutral-400" />
    {{- range .Pages -}}
      {{ partial "article-link.html" . }}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- range $pages -}}
    {{ partial "article-link.html" . }}
  {{- end -}}
{{- end -}}